rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default open for the app's secure client/server integration
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
